.header {
  background-color: #3f0f2b;
  height: 80px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.user {
  background-color: #333333;
  color: white;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 100ms ease;

  &:hover {
    background-color: #666666;
  }
}

.userActive {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
}
